<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

	<property name="show_sql">true</property>
	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	<property name="connection.driver_class">org.postgresql.Driver</property>
	<property name="connection.url">jdbc:postgresql://localhost:5432/TakeOut</property>
	<property name="connection.username">postgres</property>
	<property name="connection.password">123123</property>
	<property name="connection.pool_size">2</property>
	<property name="myeclipse.connection.profile">test</property>

	<mapping resource="cn/edu/djtu/pojo/Takeout.hbm.xml" />
	<mapping resource="cn/edu/djtu/pojo/ShopCar.hbm.xml" />
	<mapping resource="cn/edu/djtu/pojo/User.hbm.xml" />
	<mapping resource="cn/edu/djtu/pojo/SystemMsg.hbm.xml" />
	<mapping resource="cn/edu/djtu/pojo/Orders.hbm.xml" />
	<mapping resource="cn/edu/djtu/pojo/UserInfo.hbm.xml" />
	<mapping resource="cn/edu/djtu/bean/UserViewBean.hbm.xml" />

</session-factory>
</hibernate-configuration>